{{> headers this}}

<div class="container">
    <div class="row justify-content-md-center row-custom showSuccessContent">
        <div class="col-sm-8">
            <h1>
                {{quizData.category}} : {{quizData.subCategory}}
            </h1>
                <p class="timer" id="app"></p>
                <div class="quizAnsSubmit">
                <button type="button" id="submitButton" class="btn btn-primary">Submit Quiz</button>
                </div>
            <div id="alertWarning"></div>
            {{#each quizData.questions}}
            <div class="question" id="question{{@index}}">
                <form class="quizSubmit" id="{{@index}}" data-id="{{this.questionID}}">
                    <div class="form-group">
                        <p>Question : {{this.question}}</p>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="answerChoice{{@index}}" id="answerChoice1{{@index}}"
                            value="{{this.answerChoice1}}">
                        <label class="form-check-label" for="answerChoice1{{@index}}">
                            A : {{this.answerChoice1}}
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="answerChoice{{@index}}" id="answerChoice2{{@index}}"
                            value="{{this.answerChoice2}}">
                        <label class="form-check-label" for="answerChoice2{{@index}}">
                            B : {{this.answerChoice2}}
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="answerChoice{{@index}}" id="answerChoice3{{@index}}"
                            value="{{this.answerChoice3}}">
                        <label class="form-check-label" for="answerChoice3{{@index}}">
                            C : {{this.answerChoice3}}
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="answerChoice{{@index}}" id="answerChoice4{{@index}}"
                            value="{{this.answerChoice4}}">
                        <label class="form-check-label" for="answerChoice4{{@index}}">
                            D : {{this.answerChoice4}}
                        </label>
                    </div>
                    <div class="quizAnsSubmit">
                    <button type="submit" data-id="{{@index}}" class="btn btn-primary">Save Answer</button>
                    </div>
                        
                </form>
            </div>
            {{/each}}
            <input type="hidden" value="{{quizData2}}" name="quizDataStr" id="quizDataStr" />
        </div>
        <div class="col-sm-2 questionSideSec">
            <div class="card" style="width: 10rem;">
                <ul class="list-group list-group-flush" id="questionQuiclLink">
                </ul>
            </div>
        </div>
    </div>
</div>

<script src="./../../public/js/quiz.js"></script>