{{> headers this}}

<div class="container">
  <div class="row justify-content-md-center row-custom">
    <div class="col-sm-8">
      <h1>{{studentResult.category}} Quiz Data</h1>
            <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="../">Dashboard</a></li>
            <li class="breadcrumb-item"><a href="#">Quiz Report</a></li>
          </ol>
        </nav>

      <table id="example" class="table table-striped table-bordered table-sm" >
        <thead>
          <tr>
            <th class="th-sm">Name

            </th>
            <th class="th-sm">Email

            </th>
            <th class="th-sm">Start Date

            </th>
            <th class="th-sm">End date

            </th>
            <th class="th-sm">Score</th>
            <th class="th-sm">Out of</th>

          </tr>
        </thead>
        {{#if studentResult.length }}
        <tbody>
          {{#each studentResult}}
          <tr>
            <td>{{firstName}} {{lastName}}</td>
            <td>{{email}}</td>
            <td>{{startDate}}</td>
            <td>{{endDate}}</td>
            <td>{{totalScore}}</td>
            <td>{{totalQuizScore}}</td>
          </tr>
          {{/each}}

        </tbody>
        {{/if}}
      </table>
    </div>
  </div>
</div>
<script>
  $(document).ready(function () {
    $('#example').DataTable();
  });
</script>
<script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.24/js/dataTables.bootstrap4.min.js"></script>