{{> headers this}}

<div class="container" style="margin-top:30px">
  <div class="row justify-content-md-center row-custom">
    <div class="col-sm-10">
      <h1>User Information</h1>
      <dl class="dltag"> 
    <dt>firstName</dt> 
    <dd>{{keyobject.firstName}}</dd> 
    <dt>lastName</dt> 
    <dd>
{{keyobject.lastName}}
    </dd> 
    <dt>Email Address</dt> 
    <dd>{{keyobject.email}}</dd> 
    <dt>Usertype</dt> 
    <dd>{{keyobject.userType}}</dd> 
    <dt>Date Created</dt> 
    
    <dd>{{keyobject.dateCreated}}</dd> 
  </dl> 
    <dt>University Name</dt> 
    <dd>{{keyobject.universityName}}</dd> 
</div>
</div>
</div>   


